.slide img{
    width: 100%;
    height: 600px;
}

.center {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: fantasy;
  color: white;

}

.centerButton{
    position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.centerButton {
  padding: 16px;
  background-color: #7ac3ff;
  color: white;
  border-radius: 12px;
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
  width: 200px;
}

.card-container {
  display: flex;
  flex-wrap: nowrap;  
  gap: 20px;          
  overflow-x: auto;   
  padding: 10px;
}

.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px; 
}

.about-container h1{
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
  color: #333;
}

.about-container p{
  font-family: 'Inter', sans-serif;
  font-size: 18.4px;
  line-height: 1.6;
  margin-bottom: 18.4px;
  color: #888;
}

.otherinfo {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px; 
}

.otherinfo h4{
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
  color: #333;
}

.otherinfo p{
  font-family: 'Inter', sans-serif;
  font-size: 18.4px;
  line-height: 1.6;
  margin-bottom: 18.4px;
  color: #888;
}

.otherinfo li{
  font-family: 'Inter', sans-serif;
  font-size: 18.4px;
  line-height: 0.5;
  margin-bottom: 18.4px;
  color: #888;
}