body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.page-container {
    max-width: 1100px;
    margin: 40px auto;
    display: flex;
    gap: 30px;
}


.box {
    background: white;
    padding: 25px;
    border-radius: 6px;
    flex: 1;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0b5ed7;
}


.footer {
    text-align: center;
    padding: 15px;
    background-color: #eee;
    margin-top: 40px;
}
