.hero-bg {
    background-image: url('images/planebg2.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
}

.form-card {
    margin-top: -150px;
    border-radius: 15px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.75);
}


#firstName_error{
    visibility: hidden;
    color: red;
}

#lastName_error{
    visibility: hidden;
    color: red;
}

#email_error{
    visibility: hidden;
    color: red;
}



