.slide img{
    width: 100%;
    height: 600px;
}

.center {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: fantasy;
  color: white;

}

.centerButton{
    position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}