.slide img{
    width: 100%;
    height: 600px;
}

.center {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: fantasy;
  color: white;

}

.centerButton{
    position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.centerButton {
  padding: 16px;
  background-color: #7ac3ff;
  color: white;
  border-radius: 12px;
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
  width: 200px;
}